In [ ]:
ans 1: Rainbow

ans 2:

In [1]:
print("LETS UPGRADE")

LETS UPGRADE

ans 3:

In [18]:
CP=float(input("Cost price:"))
SP=float(input("Selling Price:"))
if(SP>CP):
  amount=SP-CP
  print("Profit")
elif(CP>SP):
    amount=CP-SP
    print("Loss")
else:
  print("Neither")

Cost price:19
Selling Price:95
Profit

ans 4:

In [30]:
Euro=float(input("amount in euro:"))
Rupees=Euro *80
print(Rupees)

amount in euro:18
1440.0